@import url(normalize.css);
body {
  display: flex;
  background: #d6d6d6;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

header {
  display: flex;
  position: fixed;
  top: 0;
  right: 2%;
  width: 15%;
  height: 15px;
  color: white;
  background: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }
  header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0; }
    header ul li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      padding-right: 10px;
      padding-left: 10px;
      height: 100%;
      width: 100%; }
      header ul li a {
        font-weight: bold;
        margin: -2px;
        padding-left: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #BBBBBB;
        width: 100%;
        height: 100%;
        font-size: 0.7rem; }

.svg-top-nav-down-arrow {
  padding-left: 10px; }

.left-nav {
  display: flex;
  background: #131519;
  color: #aeaeae;
  flex-grow: 1;
  max-width: 100px;
  min-width: 70px;
  font-size: 0.76rem; }
  .left-nav ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0; }
    .left-nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 95px;
      width: calc(100%-10px); }
      .left-nav ul li.selected {
        color: #000000;
        background-color: #FFFFFF; }
      .left-nav ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #aeaeae;
        flex-grow: 1;
        height: 100%; }

.main-aside-footer-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #98262e; }

.main-aside-section {
  display: flex;
  flex-grow: 1; }

main {
  display: flex;
  background: #83B0B9;
  background: #E4B162;
  background: #343943;
  background-color: #98262e;
  background-color: #D35657;
  color: white;
  flex-grow: 1;
  padding: 1rem; }

aside {
  display: flex;
  background: #e6e6e6;
  width: 100px;
  max-width: 200px;
  color: black;
  flex-grow: 0;
  display: none; }

footer {
  display: flex;
  position: fixed;
  top: calc(100vh - 15px);
  left: 120px;
  width: 550px;
  background: #000000;
  color: #AAAAAA;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  height: 15px;
  padding: 2px 10px 2px 10px;
  border-radius: 25px 25px 0 0;
  opacity: 1; }

li a span {
  transition: all 0.45s ease;
  transform: translateY(-100%);
  margin: 0;
  opacity: 0; }

li:hover a span {
  transform: translateY(-3%);
  opacity: 1;
  overflow: hidden; }

svg {
  fill: none;
  stroke: #4691f6;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-linejoin: round; }
  li.selected svg {
    stroke: #D35657; }

.svg-top-nav-icon {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 5px;
  stroke-width: 2;
  stroke: #999999; }

.svg-left-nav-icon {
  display: flex;
  width: 32px;
  height: 32px;
  padding-bottom: 6px;
  padding-top: 0px; }
  .svg-left-nav-icon#edit-icon {
    width: 36px;
    height: 36px; }

.animated {
  stroke-dasharray: 110;
  animation-name: do-animation;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: forwards; }
  .animated.fast {
    animation-duration: 1s; }
  .animated.slow {
    animation-duration: 6s; }
  li.selected .animated {
    animation-name: none; }

@keyframes do-animation {
  from {
    stroke-dashoffset: 110;
    fill: none; }
  to {
    stroke-dashoffset: 0; } }
li a .svg-left-nav-icon {
  transition: all 0.45s ease;
  transform: translateY(25%);
  margin: 0;
  opacity: 1; }

li:hover a .svg-left-nav-icon {
  transform: translateY(0%);
  opacity: 1;
  overflow: hidden; }

/*# sourceMappingURL=main_stylesheet.css.map */
